@import url(./components/_all.css);
@import "antd/dist/antd.css";
@import "bootstrap/dist/css/bootstrap.min.css";

*,
*:after,
*:before {
  background-size: border-box;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* img {
  max-width: 100%;
  height: auto;
} */
