.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    margin-right: 40px;
    text-decoration: none;
}
.navbar li:last-child {
    margin-right: 0px;
}

.navbar__container {
    margin: auto;
    max-width: 780px;
}